/**/
/* * Colors: */
/* Teal: */
/* #0ca678 */
/* Gray: */
/* #adb5bd */
/* ** Typography: */
/* Font: Lato:400,700 */
/* type-scales: */
/* Heading1: 48.83px/3.052rem */
/* Heading2: 39.06px/2.441rem */
/* Heading3: 31.25px/1.953rem */
/* Heading4: 25.00px/1.563rem */
/* Heading5: 20.00px/1.250rem */
/* Text:     16.00px/1.000rem */
/* ** Sapce: */
/* 4.00px/0.25rem */
/* 8.00px/0.50rem */
/* 12.0px/0.75rem */
/* 16.0px/1.00rem */
/* 20.0px/1.25rem */
/* 24.0px/1.50rem */
/* 28.0px/1.75rem */
/* 32.0px/2.00rem */
/* 36.0px/2.25rem */
/* 40.0px/2.50rem */
:root {
  --main_color: #0ca678;
  --accent_color_bg: #d0e3f1;
  --accent_color_bg_tint: #bbccd9;
  --accent_color: #335e7c;
  --link_color: #0a95ff;
  --link_color_shade: #54b5ff;
  --gray_color: #adb5bd;
  --gray_color_more: #868e96;
  --background_grey_color: #e9ecef;

  --Heading1: 3.052rem;
  --Heading2: 2.441rem;
  --Heading3: 1.953rem;
  --Heading4: 1.563rem;
  --Heading5: 1.25rem;
  --Text: 1rem;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: grid;
  grid-template-rows: 3rem auto 10rem;
  grid-template-columns: 15rem auto 25rem;
  /* grid-gap: 1rem; */
  row-gap: 2rem;
}
/* ##################### */
/* #####Navigation###### */
/* ##################### */
nav {
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;
  height: 3rem;
  border-bottom: 1px solid var(--gray_color);
  grid-row: 1;
  grid-column: 1 /4;
  box-shadow: 0 5px 25px 5px var(--background_grey_color);
  background-color: var(--background_grey_color);
}
.logo {
  font-size: 2rem;
}
.search {
  color: var(--gray_color);
  border: 1px solid var(--gray_color);
  border-radius: 0.2rem;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: white;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.user:hover {
  cursor: pointer;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-profile img {
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}
.user-profile div {
  font-weight: 700;
}
.user-profile div:nth-child(3) {
  color: var(--main_color);
}
.user svg {
  color: var(--gray_color_more);
  width: 2rem;
  height: 2rem;
}
aside {
  grid-column: 1;
  grid-row: 2;
  height: 100vh;
}
aside ol {
  list-style: none;
}
aside li {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  align-items: center;
  color: var(--gray_color_more);
}
aside li:hover {
  cursor: pointer;
}
section {
  border-left: 1px solid var(--gray_color);
  /* padding-left: 1rem; */
}
.active {
  background-color: var(--background_grey_color);
  border-right: 2px solid var(--main_color);
  color: black;
}
.top_questions {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  padding: 1rem 0;
    border-bottom: 1px solid var(--gray_color);
}
.top_questions_title {
  font-size: 2rem;
  grid-row: 1;
  grid-column: 1;
    padding-left: 1rem;
}
.ask_question {
  grid-row: 1;
  grid-column: 2;
  margin: 1rem 0rem;
  justify-self: end;
}
.ask_question a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
  background-color: var(--main_color);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}
.top_questions_filter {
  justify-self: end;
  display: flex;
  grid-row: 2;
  grid-column: 2;
}
.top_questions_filter div {
  color: var(--gray_color_more);
  padding: 0.5rem 0.5rem;
  border-top: 1px solid var(--gray_color_more);
  border-left: 1px solid var(--gray_color_more);
  border-bottom: 1px solid var(--gray_color_more);
}
.top_questions_filter div:last-child {
  border-right: 1px solid var(--gray_color_more);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.top_questions_filter div:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.filter-active {
  background-color: var(--background_grey_color);
  color: black !important;
}
.top_questions_filter div:hover {
  cursor: pointer;
  background-color: var(--background_grey_color);
  color: black !important;
}
.blog_news_container {
  margin: 2rem 1rem;
}
article h1 {
  font-size: 1rem;
}
/* ################# */
/* ####Questions#### */
/* ################# */
.question {
  display: grid;
  grid-template-rows: 1rem;
  grid-template-columns: 10rem auto 15rem;
  grid-auto-rows: 1fr;
    border-bottom: 1px solid var(--gray_color);
    padding: 1rem 0;;
}
.question_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.75rem;
  /* width: 5rem; */
  align-items: end;
  grid-column: 1;
  grid-row: 1 / 3;
  justify-self: end;
  padding-right: 1rem;
}
.question_left .answers {
  padding: 0.4rem 0.4rem;
  color: white;
  background-color: var(--main_color);
  border-radius: 5px;
}
.question_left .views {
  color: var(--gray_color);
}
.question_tags {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.question_tag {
  padding: 0.3rem 0.3rem;
  background-color: var(--accent_color_bg);
  color: var(--accent_color);
  font-size: 0.75rem;
  border-radius: 5px;
}
.question_tag:hover{
    background-color: var(--accent_color_bg_tint);
    cursor: pointer;
}
.author {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
    font-size: 0.75rem;
    align-self: center;
}
.author div:first-child{
    color: var(--link_color);
}
.author div:first-child:hover{
    color: var(--link_color_shade);
    cursor: pointer;
}
.question_title {
  grid-row: 1;
  grid-column: 2;
  color: var(--link_color);
}
.question_title:hover {
    color:var(--link_color_shade);
    cursor: pointer;
}
